<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load crispy_forms_tags %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <title>Index page of the url shortener.</title>
</head>
<body>
  
  <div class="wrapper">

    <h2>URL Shortener</h2>

    <form id = 'form' action="">
      {% csrf_token %}
      {{form | crispy}} <br>
      <button type="submit">Shorten</button>
    </form>

    <div class="shortened-link"></div>

  </div>
</body>

<!-- This is the end of the html  -->
<!-- JAVASCRIPT BEGINS HERE  -->

<script>
  const btn = document.querySelector('button');
  const form = document.querySelector('#form');
  const output = document.querySelector('.shortened-link')

  //function to get the csrf token 
  function getCookie(name) {
    let cookieValue = null;
    if(document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for(let i =0; i < cookies.length; i++) {
        const cookie = cookies[i].trim()
        if(cookie.substring(0, name.length + 1) == `${name}=`) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break
        }
      }

    } 

    return cookieValue;
  }

  const csrftoken = getCookie('csrftoken')

  form.addEventListener('submit', (e)=> {
    e.preventDefault()
    const link = document.querySelector("#id_link").value
    let data = {'link': link}

    fetch('{% url "generate" %}', {
      method :'POST',
      credentials : 'same-origin',
      headers: {
        'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRFToken': csrftoken,
      },
      body : JSON.stringify(data)
    
    })
    .then((response)=> {
      return response.json()
    })
    .then((data)=> {
      data = data['data']
      output.innerText = 'localhost:8000/'+data
    })
    .catch((error)=> {
      console.log(error)
    })


  })

</script>
</html>